{% extends 'store/main.html' %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'store/style.css' %}">

{% block content %}
    <h1>CART PAGE</h1>

    <div class="card">
        <div class="card-body">

            <a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
            <a class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
            <h5 class="card-title">Items: 2</h5>
            <h5 class="card-title">Total: $40</h5>
            <hr>
            <img src="{% static 'store/images/placeholder.jpeg' %}">
            <h5 class="card-title">Items: Product_1</h5>
            <h5 class="card-title">Price: $20</h5>
            <div>
                <h5 class="card-title">Quantity: 1</h5>
                <a class="btn btn-success">+</a>
                <a class="btn btn-success">-</a>
            </div>
            <h5 class="card-title">Total: $20</h5>
        </div>
    </div>
{% endblock content %}