{% extends 'store/base_logged_in.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'store/style.css' %}">

{% block content %}
    <br>
    <div class="card">
        <h1 class="card-header">My Cart</h1>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col">Shipping Address</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.current_user }}</td>
                            <td>{{ order.product_name }}</td>
                            <td>{{ order.product_price }}</td>
                            <td>2</td>
                            <td>{{ order.total_price }}</td>
                            <td>{{ order.shipping_address }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <a class="btn btn-success" href="{% url 'store:mystore' %}">&#x2190; Continue Shopping</a>
            <a class="btn btn-success" href="{% url 'store:profile' %}">&#x2190; Go to Profile</a>
        </div>
    </div>
{% endblock content %}