{% extends 'store/base_logged_in.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'store/style.css' %}">

{% block content %}
    <span class="badge bg-success margin white">user: {{ current_user.username }}</span>
    <div class="card">
        <div class="card-header centerImg">
            <img src="{{product.image}}" class="img-thumbnail" alt="img-thumbnail">
        </div>
        <div class="alert alert-success textCenter" role="alert"><strong>{{ product.name }} ${{ product.price }}</strong></div>
        <div class="card-body centerImg column">
            <p class="card-text textCenterTwo">
                <i>Stock ({{ product.quantity }})</i>
                <br>
                Description: {{ product.description }}
            </p>
            <div>
                <a href="{% url 'store:mystore' %}" class="btn btn-success">&#x2190; Continue Shopping</a>
                <a class="btn btn-success" href="{% url 'store:addToCart' product.id %}">&#x2190; Add to Cart</a>
            </div>
        </div>
        <div class="card-footer text-muted textCenterTwo"><i>id.{{ product.id }}</i></div>
    </div>
{% endblock content %}