<!-- This loads the shared template -->
{% extends 'store/base_logged_in.html' %}

<!-- This loads the static folder css -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'store/style.css' %}">

{% block content %}
    <span class="badge bg-success margin white">user: {{ user.username }}</span>
    <div class="row row-cols-1 row-cols-sm-3 g-3">
        {% for product in products %}
        <div class="col">
            <div class="card">
                <img src="{{product.image}}" class="card-img-top imgSize" alt="card-grid-image">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>{{ product.name }} ${{ product.price }}</strong>
                            <br>
                            <i>Stock ({{ product.quantity }})</i>
                        </li>
                        <li class="list-group-item">
                            <a class="btn btn-success" href="{% url 'store:details' product.id %}">View</a>
                            <a class="btn btn-success" href="{% url 'store:addToCart' product.id %}">Add to Cart</a>
                        </li>
                    </ul>
                    <!-- <form action="{% url 'store:mystore' %}" method=POST>
                        {% csrf_token %}
                        <input id='quantity' type="number" value='quantity'>
                        <input type='submit' value='Add to Cart' class="btn btn-success">
                    </form> -->
                </div>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
{% endblock content %}