<!-- This loads the shared template -->
{% extends 'store/base.html' %}

<!-- This loads the static folder css -->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'store/style.css' %}">

{% block content %}
    <br>
    <div class="row row-cols-1 row-cols-sm-3 g-3">
        <div class="col">
            <div class="card">
                <img src="{% static 'store/images/placeholder.jpeg' %}" class="card-img-top" alt="card-grid-image">
                <div class="card-body">
                    <h5 class="card-title">Product</h5>
                    <h6 class="card-title">Quantity: 1</h6>
                    <button class="btn btn-outline-success add-btn">Add to Cart</button>
                    <button class="btn btn-outline-success add-btn">+</button>
                    <button class="btn btn-outline-success add-btn">-</button>
                    <h5 style="display: inline-block; float: right"><strong>$0</strong></h5>
                </div>  
            </div>
            <br>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static 'store/images/placeholder.jpeg' %}" class="card-img-top" alt="card-grid-image">
                <div class="card-body">
                    <h5 class="card-title">Product</h5>
                    <h6 class="card-title">Quantity: 1</h6>
                    <button class="btn btn-outline-success add-btn">Add to Cart</button>
                    <button class="btn btn-outline-success add-btn">+</button>
                    <button class="btn btn-outline-success add-btn">-</button>
                    <h5 style="display: inline-block; float: right"><strong>$0</strong></h5>
                </div>  
            </div>
            <br>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static 'store/images/placeholder.jpeg' %}" class="card-img-top" alt="card-grid-image">
                <div class="card-body">
                    <h5 class="card-title">Product</h5>
                    <h6 class="card-title">Quantity: 1</h6>
                    <button class="btn btn-outline-success add-btn">Add to Cart</button>
                    <button class="btn btn-outline-success add-btn">+</button>
                    <button class="btn btn-outline-success add-btn">-</button>
                    <h5 style="display: inline-block; float: right"><strong>$0</strong></h5>
                </div>  
            </div>
            <br>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static 'store/images/placeholder.jpeg' %}" class="card-img-top" alt="card-grid-image">
                <div class="card-body">
                    <h5 class="card-title">Product</h5>
                    <h6 class="card-title">Quantity: 1</h6>
                    <button class="btn btn-outline-success add-btn">Add to Cart</button>
                    <button class="btn btn-outline-success add-btn">+</button>
                    <button class="btn btn-outline-success add-btn">-</button>
                    <h5 style="display: inline-block; float: right"><strong>$0</strong></h5>
                </div>  
            </div>
            <br>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static 'store/images/placeholder.jpeg' %}" class="card-img-top" alt="card-grid-image">
                <div class="card-body">
                    <h5 class="card-title">Product</h5>
                    <h6 class="card-title">Quantity: 1</h6>
                    <button class="btn btn-outline-success add-btn">Add to Cart</button>
                    <button class="btn btn-outline-success add-btn">+</button>
                    <button class="btn btn-outline-success add-btn">-</button>
                    <h5 style="display: inline-block; float: right"><strong>$0</strong></h5>
                </div>  
            </div>
            <br>
        </div>

        <div class="col">
            <div class="card">
                <img src="{% static 'store/images/placeholder.jpeg' %}" class="card-img-top" alt="card-grid-image">
                <div class="card-body">
                    <h5 class="card-title">Product</h5>
                    <h6 class="card-title">Quantity: 1</h6>
                    <button class="btn btn-outline-success add-btn">Add to Cart</button>
                    <button class="btn btn-outline-success add-btn">+</button>
                    <button class="btn btn-outline-success add-btn">-</button>
                    <h5 style="display: inline-block; float: right"><strong>$0</strong></h5>
                </div>  
            </div>
            <br>
        </div>
    </div>
{% endblock content %}