{% extends 'store/base_logged_in.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'store/style.css' %}">

{% block content %}
    <br>
    <div class="card">
        <h1 class="card-header">User List</h1>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Age</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Address</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.profile.age }}</td>
                            <td>{{ user.profile.gender }}</td>
                            <td>{{ user.profile.address }}</td>
                            <td>
                                {% if user.profile.status == True %}
                                    <a class="badge bg-success white" href="{% url 'store:activate' user.id %}">Activated</a>
                                {% elif user.profile.status == False %}
                                    <a class="badge bg-warning text-dark" href="{% url 'store:activate' user.id %}">Deactivated</a>
                                {% else %}
                                    <span class="pending">N/A</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>            
        </div>
    </div>
    <div class="margin_two">
        <a class="btn btn-success" href="{% url 'store:reports' %}">&#x2190; Generate Reports</a>
    </div>
{% endblock content %}