/* STEP 6 - SETUP STATIC FOLDER & REFERENCE IN TEMPLATES */
h1, .active {
    color: green;
}

.inactive {
    color: red;
}

.margin {
    margin: 1vh 0px 1vh 0.5vw;
}

.imgSize {
    height: 50vh;
}

.imgSizeDetails {
    height: 80vh;
    width: 20%;
}

.base_logged_out {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 15%;
}

.bye {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    width: 100%;
}